<div class="row">
    <div class="span8 offset2">
    <h3>About</h3>

    <p>RubyPrimer is a webtool for creating mutagenic oligonucleotide primers for use in the Quikchange II Site-Directed Mutagenesis kit. Our group recently published a modified protocol that allows the kit to be used for large-scale insertions and deletions in protein constructs. The protocol also allows for substitutions to be made at a greater efficiency than via the manufacturer&#39;s instructions.</p>

    <p>Central to the success of modified protocol is a new primer design strategy. Read <a href="http:&#47;&#47;www.biomedcentral.com&#47;1472-6750&#47;8&#47;91" >Liu et al (2008)</a> for further details. While the strategy is straightforward, it can be time consuming to implement: especially if one requires many constructs to be designed for downstream high-throughput applications. RubyPrimer makes this task easier.  </p>

    <h3>How to Use</h3>
    </div>
</div>