<div>
  <p>
    An automated system for designing oligonucleotide primers to effect protein
    truncations and deletions
  </p>
</div>
<div class="row">
  <form name="experimentSubmit" method="post" action="/submit">
  <fieldset>
  <div class="span6">
    <div class="control-group">
    </div>
    <div>
      <p>
        <b>DNA Coding Sequence</b>
      </p>
    </div>
    <textarea id="dnainput" name="DNAinput"></textarea>
    <div>
      <p>
        <b>Translation</b>
      </p>
    </div>
    <div class="well">
      <div id="DNAtranslation">
        <p>
          MPAETTVSGAHPAAKLPIYILPCFLWIGIVPFTFALKLKPSPDFYHDAAAAAGLIVLLFLTAGKKLFDVKIPAISFLLFAMAAFWYLQARLMNLIYPGMNDIVSWIFILLAVSAWACRSLVAHFGQERIVTLFAWSLLIGSLLQSCIVVIQFAGWEDTPLFQNIIVYSGQGVIGHIGQRNNLGHYLMWGILAAAYLNGQRKIPAALGVICLIMQTAVLGLVNSRTILTYIAAIALILPFWYFRSDKSNRRTMLGIAAAVFLTALFQFSMNTILETFTGIRYETAVERVANGGFTDLPRQIEWNKALAAFQSAPIFGHGWNSFAQQTFLINAEQHNIYDNLLSNLFTHSHNIVLQLLAEMGISGTLLVAATLLTGIAGLLKRPLTPASLFLICTLAVSMCHSMLEYPLWYVYFLIPFGLMLFLSPAEASDGIAFKKAANLGILTASAAIFAGLLHLDWTYTRLVNAFSPATDDSAKTLNRKINELRYISANSPMLSFYADFSLVNFALPEYPETQTWAEEATLKSLKYRPHSATYRIALYLMRQGKVAEAKQWMRATQSYYPYLMPRYADEIRKLPVWAPLLPELLKDCKAFAAAPGHPEAKPCK
        </p>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="control-group">
    </div>
    <div class="control-group">
    </div>
    <div>
      <p>
        Truncation Strings
      </p>
    </div>
    <div class="control-group">
      <textarea id="experimentInput" name="experimentStrings"></textarea>
    </div>
    <div class="control-group">
      <label for="textinput1">
        Initial Primer-Primer Tm
      </label>
      <input name="PPtm" type="" value="50">
    </div>
    <div class="control-group">
      <label for="textinput2">
        Initial Primer-Template Tm
      </label>
      <input name="PTtm" type="" value="45">
    </div>
    <div class="control-group">
    </div>
    <div class="control-group">
      <label for="selectinput1">
        Force G-C End?
      </label>
      <select name="selectinput1">
      </select>
    </div>
    <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
  </fieldset>
  </form>
  </div>
</div>